.navbar-collapse {
  flex-grow: 0;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  &:hover {
  color: #c82333;
}
}

.bg_header{
  background-image: url(../../img/header.png);
  background-size: cover;
  background-repeat: no-repeat;

}
.navbar-toggler{
  font-size: 1.25rem;
  background-color: rgba(200, 35, 51, 0.8);
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);

}

//ASIDE
.aside_block{
   display:flex;
  height: 100rem;


  ul{
    display: flex;
    flex-direction: column;

    height: 100rem;
}
  li{
    margin: 2rem;

  }
}