.box_unities{
  margin: 0 4rem 2rem 4rem;
  padding: 1rem;

}
.box_unity{
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);
  margin: 1rem;
  width: 5rem;
  height: 5rem;

}