@import '~bootstrap';

//BUTTON

.btn-update{
  border: 1px solid blue;
  background:blue;
  box-shadow: 0 0 15px rgba(91,91,91,0.2);
  color: white;
  width: 10rem;
  height: 3rem;

  &:hover{
    background:white;
    color: blue;
  }
}



.btn-gold{
  border: 1px solid #D49725;
  background-color:#D49725;
  box-shadow: 0 0 15px rgba(91,91,91,0.2);
  color: white;
  width: 10rem;
  height: 3rem;
  &:hover{
    background:white;
    color: #D49725;
  }
}

.text-gold{
  color:#D49725;
}

.btn-connection{
  border: 1px solid #29537C;
  background-color: #29537C;
  box-shadow: 0 0 15px #5b5b5b;
  color: white;
  width: 10rem;
  height:3rem;

  &:hover {
    background: white;
    color: #29537C;
  }
}


.buttonHeader{
  border: 1px solid #c82333;
  color: white;
  background-color:#c82333;
  border-radius: 25px;
  box-shadow: 0 0 15px #5b5b5b;
  margin: 0 2rem 0 0;
  padding: 1rem 2rem;
  width: 10rem;
  text-align: center;
  font-weight: bold;
  &:hover  {
    background: white;
    color:#c82333;
  }
  &.active{
       border: 1px solid #c82333;
       color: #c82333;
       background-color:white;

   }




}